%p
  = link_to "Plan new trip", :controller => "start"

%h2 My trips

%ul
  %li
    = link_to "London, June 30th - July 1st 2012", :controller => "home"
  %li
    = link_to "Berlin, August 2nd - August 21st 2012", :controller => "home"
