.header {
  background-color: #c0c0c0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #c0c0c0;
  text-align: center;
}

.header h2 {
  padding: 8px;
}

.overview {
  background-color: #f0f0f0;
}
.overview span {
  padding-right: 20px;
}

.menu {
  margin: 8px;
  float: right;
}

.status {
  padding: 8px;
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}

.summary {
  padding: 8px;
  font-size: 160%;
  font-weight: bold;
}
.summary span.edit {
  float: right;
  visibility: hidden;
}
.summary:hover span.edit {
  visibility: visible;
}

.story {
  font-size: 250%;
}

.story-frame {
  padding: 40px;
  padding-top: 120px;
}

a {
  text-decoration: none;
}

.section {
  padding: 10px;
}
.section-content {
  height: 380px;
}
.section .adder {
  visibility: hidden; 
}
.section:hover .adder {
  visibility: visible;
}

.weather-day {
  text-align: center;
}

.spacer {
  height: 20px;
}

.adder {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.help {
  background-color: #DCF8D8;
  padding: 10px;
}

.items {
  font-size: 200%;
  padding: 60px;
}

.items label {
  font-weight: normal;
}

.item_adder {
  margin-left: 30px;
}

.item span.actions {
  visibility: hidden;
}
.item:hover {
  background: #FFFEE0;
}
.item:hover span.actions {
  visibility: visible;
}

.items .actions {
  float: right;
  font-size: 80%;
  margin-right: 6px;
  margin-top: 4px;
}
.items .actions a {
  padding-left: 12px;
}

.overview-link {
  float: right;
  margin-right: 20px;
}
