%p.story
  I will travel to London on Saturday, June 30th.

= form_tag :action => "to" do
  = label_tag :from, "Until when?"
  &nbsp;
  = text_field_tag :to, "07/01/2012", :size => 10, :id => "datepicker"
  &nbsp;
  = submit_tag "Proceed"

:javascript
  $(function() {
    $( "#datepicker" ).datepicker({ showAnim: "slideDown" });
  });
