.span-6
  .section.section-plan
    = render :partial => "details/plan-overview"
.span-6
  .section.section-weather
    = render :partial => "details/weather-overview"
.span-6
  .section.section-clothes
    = render :partial => "details/clothes-overview"
.span-6.last
  .section.section-pictures
    = render :partial => "details/pictures-overview"

:javascript
  $('.section-plan')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/plan.html";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-weather')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/weather.html";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-clothes')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/clothes.html";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
  $('.section-pictures')
    .css('cursor', 'pointer')
    .click(
      function(){
        location.href = "/details/pictures.html";
      }
    )
    .hover(
      function(){
        $(this).css('background', '#FFFEE0');
      },
      function(){
        $(this).css('background', '');
      }
    );
