.span-2
  &nbsp;
.span-20
  %p
    %em
      This page will allow to control the settings like which items to add as
      auto-suggestions, where to take the pictures from for inspiration for
      activities, etc.
  %p
    = link_to "Auto-suggestion manager", :action => "suggestions"
  %p
    %em.help
      There will be a help text here.
.span-2.last
