%h2 Clothes
.section-content
  = image_tag "/images/clothes_dummy.png", :size => "200x370", :class => "center"
.status
  %span.status-text
    = details_status items
  %span.status-icon
    = image_tag "/images/checkmark-green.png"
