- if controller.class.to_s == "HomeController"
  %span.adder
    %h2= link_to "+", :controller => "home", :action => "add_section"
%h2 Activities
.section-content
  = image_tag "/images/pictures_dummy.png", :size => "200x370", :class => "center"
.status
  %span.status-text
    = details_status items
  %span.status-icon
    = image_tag "/images/checkmark-green.png"
