- if controller.class.to_s == "HomeController"
  %span.adder
    %h2= link_to "+", :controller => "home", :action => "add_section"
%h2 Pictures
.section-content
  = image_tag "/images/pictures_dummy.png", :size => "200x370", :class => "center"
.status
  0/1 done
