%h2 Weather
.section-content
  .weather-icon
    = image_tag "/images/Sunny.png", :size => "150x150", :class => "center"
  .weather-day
    Saturday
  .weather-icon
    = image_tag "/images/Slight_Drizzle.png", :size => "150x150", :class => "center"
  .weather-day
    Sunday
.status
  %span.status-text
    = details_status items
  %span.status-icon
    = image_tag "/images/checkmark-green.png"
