%h2 Weather
.section-content
  .weather-icon
    = image_tag "/images/Sunny.png", :size => "150x150"
  %p
    Saturday
  .weather-icon
    = image_tag "/images/Slight_Drizzle.png", :size => "150x150"
  %p
    Sunday
.status
  2/2 done
