<div class="span-5">
  <%= render :partial => "clothes-overview" %>
  <%= link_to "Back to overview", :controller => "home" %>
</div>
<div class="span-19 last">
  <%= link_to "Back to overview", :controller => "home" %>
</div>
