.span-24.header
  .menu
    = link_to "All Trips", :controller => "trips"
    |
    = link_to "Settings", :controller => "home", :action => "settings"
    |
    = link_to "About", :controller => "about"
  %h2 I will travel...
