.span-16.overview
  .summary
    %span
      = @trip.location
    %span
      = trip_short_date @trip.from
    %span
      = trip_duration @trip
    %span.edit
      = link_to "Edit", :controller => "start"
.span-8.last.overview
  .status
    6/15 done
