!!!
%html
  %head
    %title I will travel
    %link{:href => "/css/blueprint/screen.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/iwilltravel.css", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag "application"
    <link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>
    = csrf_meta_tags
  %body
    .container
      = render :partial => "layouts/header"
      .span-24.spacer
        &nbsp;
      .story-frame
        = yield
      .span-24.spacer
        &nbsp;
      .span-24.footer
        HCI Class 2012
